@model IEnumerable<GDocumentAPP.Context.DOCUMENTO>

@{
    ViewBag.Title = "Documentos";
}

<h3>Expedientes Digitalizados</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" id="search" maxlength="150" placeholder="Nombre Documento, Empleado, Extension, Fecha Creacion">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" id="btnSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <p></p>
}

<div class="jumbotron">
    <form action="~/Documento/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input name="file" id="test" type="file" multiple accept='image/*, application/pdf' />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>


@section Scripts
{
    <script type="text/javascript">



        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*, application/pdf",
            maxFiles: 10,
            parallelUploads: 3,
            dictDefaultMessage: "Soltar los archivos o haga click aquí para cargar.",



            init: function () {



                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });

                var thisDropzone = this;
               // var pathImage;

                $.getJSON("/Documento/ObtenerDocumentos/").done(function (data) {
                    if (data.Data != '') {

                        $.each(data.Data, function (index, item) {
                                //// Create the mock file:

                                var mockFile = {
                                    name: item.DocumentoNombre,
                                    size: item.DocumentoSize,
                                    id: item.DocumentoId
                                };

                                var thumbnail = $('.dropzone .dz-preview.dz-file-preview .dz-image:last');


                                // Call the default addedfile event handler
                                thisDropzone.emit("addedfile", mockFile);

                               // pathImage = item.attributeRuta;
                                // And optionally show the thumbnail of the file:
                                thisDropzone.emit("thumbnail", mockFile, item.DocumentoRuta +item.DocumentoNombre /*item.pathImage*/);

                                if (item.DocumentoNombre.substr(item.DocumentoNombre.lastIndexOf("."), item.DocumentoNombre.lenght) == ".pdf")
                                     thisDropzone.emit("thumbnail", mockFile, '/images/wallimages/pdf.png');
                             
                              /*  switch (item.fileName) {
                                    case 'RESUMEN1.pdf':
                                        //thumbnail.css('background', 'url(/images/wallimages/pdf.png');
                                        thisDropzone.emit("thumbnail", mockFile, '/images/wallimages/pdf.png');
                                        break;
                                    case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
                                        thumbnail.css('background', 'url(img/doc.png');
                                        break;
                                }*/


                        });
                    }

                });


                this.on("addedfile", function (file) {

                    var indexarButton = Dropzone.createElement("<button type=\"button\" class=\"btn btn-primary btn-sm glyphicon glyphicon-pushpin\" title=\"indexar\"> </button>");
                    var editButton = Dropzone.createElement("<button type=\"button\" class=\"btn btn-default btn-sm glyphicon glyphicon-pencil\" title=\"Editar\"> </button>");
                    var removeButton = Dropzone.createElement("<button type=\"button\" class=\"btn btn-danger btn-sm glyphicon glyphicon-trash\" title=\"Eliminar\"> </button>");
                    var downloadButton = Dropzone.createElement("<button type=\"button\" class=\"btn btn-info btn-sm glyphicon glyphicon-eye-open\" title=\"Detalle\"></button>");
                    var separator = Dropzone.createElement("<a> <a/>");
                    var separator2 = Dropzone.createElement("<a> <a/>");
                    var separator3 = Dropzone.createElement("<a> <a/>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:

                            e.preventDefault();
                            e.stopPropagation();
                            var confirmAction = false;
                            // Remove the file preview.

                            bootbox.confirm({
                                size: 'small',
                                message: "Eliminará la Imágen " + file.name + "  del Tarifario?",
                                callback: function (result) {
                                    if (result) {
                                        _this.removeFile(file);

                                        $.ajax({
                                            type: "POST",
                                            url: "/Documento/DeleteFile/",
                                            data: JSON.stringify({ fileName: file.name }),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            // success: OnSuccess,
                                            failure: function (response) {
                                                alert(response.d);
                                            }
                                        });
                                    }

                                }
                            })

                        });

                        downloadButton.addEventListener("click", function (e) {
                            /*location.reload();
                            window.open(pathImage + file.name);*/
                            window.location.href = "/Documento/Details/" + file.id;
                        });

                        editButton.addEventListener("click", function (e) {
                            window.location.href = "/Documento/Edit/" + file.id;
                        });

                        file.previewElement.appendChild(indexarButton);
                        file.previewElement.appendChild(separator3);
                        file.previewElement.appendChild(downloadButton);
                        file.previewElement.appendChild(separator2);
                        file.previewElement.appendChild(editButton);
                        file.previewElement.appendChild(separator);
                        file.previewElement.appendChild(removeButton);
                      
                      

                });

            }

        };


    </script>
}
