@model DEPENDENCIA

@{
    ViewBag.Title = "Delete";
}

<h3>¿Estás seguro que desea eliminar esta Dependencia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEPENDENCIA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPENDENCIA_NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <div class="input-group col-md-push-1">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>

    }
</div>
